<div id="introBubble" class="rounded_panel txt_lightgrey">
    <div class="top-rounded-panel grey-bg">
        <h1 id="user-intro">Introduction &amp; Background</h1>
    </div>
    <div class="content-rounded-panel">
        <div id="introBlurb">
            >15 Years experienced developer, Team player and leader who loves the challenge of growing people and making
            them great. Fascinated by group dynamics and how to make a team perform more than its individuals. Focuses
            on customer value add and enjoys a result oriented environment. Always strives for creative culture where
            productivity, delivery and customer value add are in focus. Proven ability to understand complex problems
            and environments. Experience from multi cultural environments and working in a distributed environment.
            Proven track record implementing scrum and agile methodologies throughout Development departments and
            beyond. A strong advocate of Continuous Delivery.
        </div>
        <br>
    </div>
</div>
